.log{
    margin-left: auto;
}
.bt{
    font-size: larger;
    font-weight: 700;
    border-radius: 40px;
    background-color:blueviolet;
    border: none;
    color: white;
   
}
.bgd{
    background-color: darkmagenta;
    height: 100vh;
}
.ma{
    padding-left: 100px;
    padding-right: 100px;
}
@media screen and (max-width:480px) {
    .ma{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}
.fo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-top: auto;
    padding-top:200px;
}